/* start glopal rules */
:root {
  --main-color: #19c8fa;
  --transparent-color: rgb(15 116 143 / 70%);
  --section-padding: 100px;
}
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &:focus {
    outline: none;
  }
}
body {
  font-family: "Open Sans", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  padding: 0 15px;
  margin: 0 auto;
}
.hidden {
  display: none;
}

.special-heading {
  text-align: center;
  margin-bottom: 100px;
  h2 {
    position: relative;
    font-weight: normal;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 50px;
    &::before {
      content: "";
      position: absolute;
      bottom: -20px;
      width: 150px;
      height: 2px;
      background-color: #333;
      left: 50%;
      transform: translateX(-50%);
    }
    &::after {
      content: "";
      position: absolute;
      bottom: -29px;
      left: 50%;
      transform: translateX(-50%);
      width: 18px;
      height: 18px;
      border-radius: 50%;
      border: 2px solid #333;
      z-index: 2;
      background-color: #fff;
    }
  }
  p {
    color: #777;
    width: 550px;
    max-width: 100%;
    margin: 0 auto;
    line-height: 2;
  }
}
/* end glopal rules */
/* start header */
header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 99;
  .container {
    display: flex;
    justify-content: space-between;
    position: relative;
    min-height: 97px;
    align-items: center;
    &::before {
      width: calc(100% - 30px);
      height: 1px;
      content: "";
      position: absolute;
      bottom: 0;
      left: 15px;
      background-color: #fff;
    }
  }
  img {
    height: 40px;
  }
  nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .links-holder {
      margin-right: 20px;
      ul.links {
        display: flex;
        transition: 0.3s;
        a {
          display: block;
          padding: 40px 10px;
          color: #fff;
          transition: 0.3s;
          position: relative;
          font-size: 14px;
          &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            transition: 0.3s;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
          }
          &:hover,
          &.active {
            &::before {
              background-color: var(--main-color);
            }
            color: var(--main-color);
          }
        }
      }
      .bars-icon {
        font-size: 20px;
        color: #fff;
        padding: 10px;
        transition: 0.3s;
        &:hover {
          border-radius: 5px;
          background-color: #fff3;
        }
        @media (min-width: 768px) {
          display: none;
        }
      }
    }
    .form {
      width: 40px;
      height: 30px;
      display: flex;
      align-items: center;
      border-left: 1px solid #fff;
      color: #fff;
      justify-content: flex-end;
      .search-icon {
        font-size: 20px;
        font-weight: bold;
      }
    }
  }
  @media (max-width: 767px) {
    .links-holder {
      ul.links {
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #0006;
        width: 100%;
        overflow: hidden;
        li {
          transition: 1s;
          height: 50px;
          a {
            padding: 20px;
          }
        }
        &.hidden-mobile {
          li {
            height: 0;
          }
        }
      }
    }
  }
}
/* end header */
/* start landing */
.landing {
  background-image: url(../images/landing.jpg);
  background-size: cover;
  height: 100vh;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #0006;
  }
  .intro-text {
    position: absolute;
    top: 50%;
    left: 0;
    display: flex;
    justify-content: flex-end;
    width: 50%;
    padding: 50px;
    transform: translateY(-50%);
    background-color: var(--transparent-color);
    color: #fff;
    z-index: 3;
    .content {
      max-width: 500px;
      h2 {
        font-size: 32px;
        font-weight: normal;
        line-height: 1.5;
        margin-bottom: 20px;
      }
      p {
        line-height: 1.8;
      }
    }
  }
  .change-background {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    z-index: 4;
    font-size: 20px;
    transition: 0.3s;
    padding: 40px 10px;
    cursor: pointer;
    &:hover {
      background-color: #fff5;
    }
    &.left {
      left: 0;
    }
    &.right {
      right: 0;
    }
  }
  @media (max-width: 767px) {
    .intro-text {
      width: 100%;
    }
    .change-background {
      display: none;
    }
  }
  ul.bullets {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    display: flex;
    margin-bottom: 20px;
    z-index: 4;
    cursor: pointer;
    li {
      position: relative;
      width: 20px;
      height: 20px;
      overflow: hidden;
      border-radius: 50%;
      transition: 0.3s;
      border: 1px solid #fff;
      &:not(:last-child) {
        margin-right: 10px;
      }
      &::before {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 0;
        border-radius: 50%;
        height: 0;
        transition: 0.3s;
        background-color: var(--main-color);
      }
      &:hover,
      &.active {
        border-color: var(--main-color);
        &::before {
          width: 150%;
          height: 150%;
        }
      }
    }
  }
}
/* end landing */
/* start services */
.services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  .services-content {
    .service-box {
      display: flex;
      .info {
        margin-left: 50px;
        font-size: 15px;
        h3 {
          color: var(--main-color);
          margin-bottom: 30px;
        }
        p {
          line-height: 2;
          color: #777;
        }
      }
      @media (max-width: 767px) {
        flex-direction: column;
        text-align: center;
        margin-bottom: 50px;
        .info {
          margin: 30px 0 0;
        }
      }
    }
    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
      grid-column-gap: 40px;
      grid-row-gap: 60px;
    }
  }
}
/* end services */
/* start design */
.design {
  position: relative;
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-image: url(../images/design-features.jpg);
  background-size: cover;
  overflow: hidden;
  display: flex;
  height: 600px;
  align-items: center;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #0009;
    z-index: 1;
  }
  .image,
  .design-features {
    position: relative;
    z-index: 2;
    flex: 1;
  }
  .image {
    text-align: center;
    img {
      max-width: 100%;
      position: relative;
      bottom: -150px;
    }
  }
  .design-features {
    background-color: var(--transparent-color);
    color: #fff;
    padding: 50px;
    h2 {
      font-weight: normal;
      margin-bottom: 50px;
      text-transform: uppercase;
    }
    ul {
      li {
        padding: 15px 0;
        &::before {
          content: "\f108";
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          margin-right: 20px;
          position: relative;
          top: 1px;
        }
      }
    }
  }
}
/* end design */
/* start portofolio */
.portofolio {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  ul.category {
    display: flex;
    margin: 0 auto 50px;
    width: fit-content;
    li {
      padding: 10px;
      &.active {
        background-color: var(--main-color);
        color: #fff;
      }
    }
  }
  .portofolio-content {
    display: flex;
    flex-wrap: wrap;
    .box {
      overflow: hidden;
      position: relative;
      img {
        transition: 0.3s;
        max-width: 100%;
      }
      .info {
        padding: 15px;
        position: absolute;
        bottom: -50%;
        background-color: #fff;
        width: 100%;
        transition: 0.3s;
        span {
          display: block;
          &:first-child {
            margin-bottom: 10px;
          }
          &:last-child {
            color: var(--main-color);
          }
        }
      }
      &:hover {
        img {
          transform: rotate(5deg) scale(1.1);
        }
        .info {
          bottom: 0;
        }
      }
      @media (min-width: 768px) {
        flex-basis: 100%;
      }
      @media (min-width: 992px) {
        flex-basis: 50%;
      }
      @media (min-width: 1200px) {
        flex-basis: 25%;
      }
    }
  }
  a {
    display: block;
    width: fit-content;
    margin: 50px auto;
    padding: 15px 20px;
    text-transform: uppercase;
    background-color: var(--main-color);
    color: #fff;
  }
}
/* end portofolio */
/* start video */
.video {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0007;
  }
  video {
    width: 100%;
  }
  .text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    padding: 50px;
    background-color: var(--transparent-color);
    color: #fff;
    text-align: center;
    h2 {
      text-transform: uppercase;
      font-weight: normal;
      margin-bottom: 20px;
    }
    a {
      color: #fff;
      text-transform: uppercase;
      display: block;
      width: fit-content;
      padding: 10px 20px;
      background-color: #000;
      margin: 30px auto 0;
    }
  }
}
/* end video */
/* start About */
.about {
  padding-top: var(--section-padding);
  overflow: hidden;
  .container {
    text-align: center;
  }
  img {
    position: relative;
    max-width: 100%;
    bottom: -120px;
    margin-top: -120px;
  }
}
/* end About */
/* start stats */
.stats {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  position: relative;
  background-image: url(../images/stats.png);
  background-size: cover;
  text-align: center;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0009;
    z-index: 1;
  }
  .container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    z-index: 2;
  }
  .stat-box {
    background-color: var(--transparent-color);
    padding: 50px;
    color: #fff;
    .stat-icon {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #000;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto 30px;
    }
    h1 {
      font-size: 50px;
      font-weight: bold;
      margin-bottom: 20px;
    }
    p {
      font-size: 14px;
    }
    @media (min-width: 768px) {
      flex-basis: 100%;
    }
    @media (min-width: 992px) {
      flex-basis: 50%;
    }
    @media (min-width: 1200px) {
      flex-basis: 25%;
    }
  }
}
/* end stats */
/* start our skills */
.our-skills {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    & > div {
      margin-bottom: 30px;
      @media (min-width: 992px) {
        flex-basis: 45%;
      }
    }
  }
  .skills-heading {
    text-align: center;
    margin-bottom: 80px;
    h3 {
      font-weight: normal;
      font-size: 20px;
      text-transform: uppercase;
      margin-bottom: 20px;
    }
    p {
      line-height: 2;
      color: #777;
    }
  }
  .skills {
    .skill-progress {
      padding: 20px 0;
      h4 {
        font-size: 15px;
        font-weight: normal;
        text-transform: uppercase;
        margin-bottom: 10px;
      }
      .progress {
        position: relative;
        height: 30px;
        background-color: #dedadc;
        margin-bottom: 15px;
        span.prog {
          position: relative;
          background-color: var(--main-color);
          height: 100%;
          display: block;
          &::before {
            content: attr(data-progress);
            position: absolute;
            right: 0;
            bottom: calc(100% + 20px);
            padding: 5px 6px;
            transform: translateX(50%);
            background-color: #000;
            color: #fff;
            border-radius: 5px;
          }
          &::after {
            content: "";
            position: absolute;
            right: 0;
            top: -20px;
            transform: translateX(50%);
            width: 0;
            height: 0;
            border-width: 8px;
            border-style: solid;
            border-color: transparent;
            border-top-color: #000;
          }
        }
      }
    }
  }
  .testimonials {
    .content {
      margin-bottom: 30px;
      display: flex;
      img {
        width: 100px;
        height: 100%;
        border-radius: 50%;
        margin-right: 50px;
      }
      .text {
        border-bottom: 1px solid #ccc;
        line-height: 2;
        span {
          display: block;
          text-align: right;
          color: #777;
        }
      }
    }
    ul.bullets {
      margin: 30px auto;
      display: flex;
      width: fit-content;
      li {
        width: 13px;
        height: 13px;
        border: 1px solid #ccc;
        border-radius: 50%;
        &.active {
          background-color: var(--main-color);
          border: 1px solid var(--main-color);
        }
        &:not(:last-child) {
          margin-right: 10px;
        }
      }
    }
  }
}
/* end our skills */
/* start qouts */
.qouts {
  position: relative;
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-image: url(../images/quote.jpg);
  background-size: cover;
  text-align: center;
  color: #fff;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000b;
  }
  q {
    position: relative;
    font-size: 30px;
    display: block;
    margin-bottom: 20px;
  }
  span {
    position: relative;
    font-size: 15px;
  }
}
/* end qouts */
/* start pricing */
.pricing {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  .container {
  }
  .plans {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    .price-plan {
      background-color: #fcfcfc;
      text-align: center;
      .head {
        border-bottom: 1px solid var(--main-color);
        border-top: 1px solid var(--main-color);
        padding: 30px 40px;
        h4 {
          font-weight: normal;
          font-size: 20px;
          text-transform: uppercase;
          margin-bottom: 20px;
        }
        span.price {
          font-size: 60px;
          font-weight: bold;
          position: relative;
          width: fit-content;
          margin: 0 auto;
          &::after {
            content: "$";
            position: absolute;
            top: 0;
            left: -35px;
            font-size: 25px;
            font-weight: normal;
          }
          &::before {
            position: absolute;
            content: '/mo';
            text-transform: uppercase;
            font-size: 20px;
            bottom: 0;
            right: -50px;
          }
        }
      }
      ul {
        border-bottom: 1px solid var(--main-color);
        margin-bottom: 30px;
        li {
          padding: 20px;
          position: relative;
          &:not(:last-child) {
            &::after {
              content: '';
              width: 140px;
              height: 1px;
              background-color: var(--main-color);
              bottom: 0;
              left: 50%;
              transform: translateX(-50%);
              position: absolute;
            }
          }
        }
      }
      a {
        display: block;
        padding: 20px 25px;
        width: fit-content;
        margin: 0 auto 30px;
        border: 1px solid var(--main-color);
      }
    }
  }
  .contact-text {
    text-align: center;
    margin-top: 50px;
    p {
      font-size: 20px;
      margin-bottom: 20px;
    }
    a {
      display: block;
      color: #fff;
      background-color: var(--main-color);
      padding: 15px 30px;
      width: fit-content;
      margin: 0 auto;
    }
  }
}
/* end pricing */
/* start stats */
/* end stats */
/* start Animation */

/* end Animation */
/* start media */
/* small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (max-width: 767px) {
  .hide-mobile {
    display: none;
  }
}
/* medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* end media */
